{
  "env": {
    "es6": true
  },
  // data router사용을 위해 주석처리
  // "parser": "@babel/eslint-parser",
  // "parserOptions": {
  //   "sourceType": "module",
  //   "allowImportExportEverywhere": true
  // },
  "extends": [
    "react-app",
    "eslint:recommended",
    "prettier",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-var": "error",
    "no-multiple-empty-lines": "error",
    "no-console": ["off", { "allow": ["warn", "error", "info"] }],
    "eqeqeq": "error",
    "dot-notation": "error",
    "no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off"
  }
}
